.video-car-title{
     color: black;
     font-weight: 400;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2; /* number of lines to show */
             line-clamp: 2; 
     -webkit-box-orient: vertical;
}
.video-card-channel-name{
        font-weight: bold;
        margin-top: 20px;
        font-size: 15px;
}